################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnetMSInAKS/obj/Debug/net9.0/dotnetMSInAKS.AssemblyInfoInputs.cache
/.vs
/dotnetMSInAKS/obj
/dotnetMSInAKS/Properties
/dotnetMSInAKS/bin/Debug/net9.0
/dotnetMSInAKS.EF/obj
/dotnetMSInAKS.Model/bin/Debug/net9.0
/dotnetMSInAKS.Model/obj
/dotnetMSInAKS.EF/bin/Debug/net9.0
